/* applying styles to the header container */
.container {
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
    background-color: transparent;
    color: #fff;
    /* padding: 20px; */
  }
  
  /* applying styles to the header-title class */
  .logo {
    /* font-size: 24px; */
    /* font-weight: bold; */
  }
  
    
  /* applying styles to the navbar links class */
  .nav-links {
    font-size: 24px;
    color: #fff;
    margin-right: 10px;
    /* text-decoration: none; */
  }
  
  /* applying styles for hover over */
  .nav-links:hover {
    color: rgb(248, 75, 13);
    text-decoration: underline;
  }
  
  
  