/* applying styles to the home-container class */
.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    height: 100vh;
  }
  
  /* applying styles to the headshot class */
  
  .headshot {
    width: 320px;
    height: 400px;
    border-radius: 60%;
    margin-bottom: 20px;
    margin-top: 25px;
  }


  /* applying styles to the brand-statement class */
  .brand-statement {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-shadow: 1.5px -1px rgb(48, 31, 24);
  }
  
  /* applying styles to the portfolio class */
  .portfolio {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  